section.new-tweet {
  background-color: #eee;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 1em;
}

section.new-tweet h2 {
  border-bottom: 1px solid #888;
  margin-top: 0;
}

section.new-tweet form {
  background-color: ##244751;
}

form textarea {
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 5px;
  width: 100%;
}

span.counter {
  display: block;
  float: right;
  font-size: 0.8em;
}

span.counter.exceed {
  color: #f46542;
}

/* tweet post */
#tweets-container article {
  border: 2px solid #ddd;
  border-radius: 5px;
  margin-top: 25px;
  opacity: 0.7; filter: alpha(opacity=70);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#tweets-container article:hover {
  opacity: 1; filter: alpha(opacity=100);
  -moz-opacity: 0.3;
}

#tweets-container article header, #tweets-container article footer {
  padding: 10px;
}
#tweets-container article header {
  background-color: #eee;
  height: 70px;
  position: relative;
}

#tweets-container article header h3 {
  float: left;
  margin-left: 10px;
  margin-top: 0;
}

#tweets-container article header img {
  float: left;
  left: 0;
  height: 50px;
  width: 50px;
}

#tweets-container article header span {
  position: absolute;
  right: 10px;
  top: 10px;
}

#tweets-container article header + p {
  clear: both;
  padding: 10px;
}

#tweets-container article footer {
  border-top: 1px solid #eee;
}

#tweets-container article footer p {
  font-size: 0.8em;
}

#tweets-container article footer span {
  float: right;
}

#tweets-container article footer span i {
  color: #00a087;
  padding-left: 5px;
}
